.expired {
  opacity: 0.25;
}

.webinar-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem 0;
  margin: var(--space-sm) auto;
  box-sizing: border-box;
}

.webinar {
  border-radius: var(--border-radius-sm);
  grid-column: span 12 / auto;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-text-light);
  box-shadow: var(--box-shadow-sm);
  display: flex;
  flex-flow: column nowrap;
}

.webinar-img__container {
  border-radius: var(--border-radius-sm);
}

.webinar-img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.webinar-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: var(--space-sm);
  flex: 1;
  box-sizing: border-box;
}

.webinar-header {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--space-sm);
}

.webinar-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: var(--space-xs);
}

.webinar-title {
  font-weight: bold;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  margin-right: var(--space-sm);
}

.webinar-header__region {
  background: var(--color-msa-blue);
  color: var(--color-text-light);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-flow: row nowrap;
}

.webinar-header__language {
  font-size: 75%;
  font-weight: 800;
}

.webinar-header__flag {
  width: 25px;
  margin-right: var(--space-xs);
}

.webinar-host {
  display: block;
  margin: 0;
  font-style: italic;
  font-size: 87.5%;
}

.webinar-description {
  margin: 0 0 var(--space-sm) 0;
}

.webinar-models {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 75%;
  margin-bottom: var(--space-sm);
}

.webinar-model {
  background: var(--color-msa-gold);
  color: var(--color-text-light);

  padding: var(--space-xs) var(--space-sm);
  margin: 0.25rem 0.125rem;
  border-radius: var(--border-radius-lg);
}

.webinar-dates__container {
  font-size: 87.5%;
  border-radius: var(--border-radius-sm) var(--border-radius-sm)
    var(--border-radius-sm) var(--border-radius-sm);
  margin-bottom: var(--space-sm);
  background: var(--color-bg);
  color: var(--color-msa-blue);
}

.webinar-dates__header {
  background: var(--color-msa-blue);
  color: var(--color-text-light);
  padding: var(--space-xs) 0;
  text-align: center;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.webinar-time {
  margin: var(--space-sm) 0.75rem;
}

.webinar-time__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 var(--space-sm);
}

.bi-clock-fill {
  margin-right: var(--space-sm);
}

.webinar-time__item {
  margin: 0;
}

.webinar-host__icon {
  color: var(--color-msa-blue);
}

.webinar-time__icon {
  color: var(--color-text-light);
}

.webinar-host__icon,
.webinar-time__icon,
.webinar-register__icon {
  margin-right: var(--space-xs);
}

.webinar-register__icon {
  margin-top: 5px;
}

.webinar-register {
  background: var(--color-webinar-btn);
  color: var(--color-text-light);
  padding: 0.75rem 0;
  box-sizing: border-box;
  border-radius: var(--border-radius-lg);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.webinar-register:hover {
  background: var(--color-webinar-btn-hover);
}

/* Medium screen styles */
@media screen and (min-width: 800px) and (max-width: 1099px) {
  .webinar-grid {
    grid-gap: var(--space-lg);
  }

  .webinar {
    grid-column: span 6 / auto;
  }
}

/* Large screen styles */
@media screen and (min-width: 1100px) {
  .webinar-grid {
    grid-gap: var(--space-sm);
  }

  .webinar {
    grid-column: span 4 / auto;
  }
}
